.landscape
  .moon
  .layer.l1
    .hills
      - (1..8).each do
        %div
  .layer.l2
    .hills
      - (1..8).each do
        %div
  .layer.l3
    - (1..20).each do
      .la
        .l
        .l