@import url("https://fonts.googleapis.com/css?family=Sahitya");
textarea {
  box-sizing: border-box;
  background-color: transparent;
  height: 5em;
  width: 100% !important;
  padding: 1rem;
  border: 0;
  border-bottom: 3px solid #1691d0;
  margin: 0;
  color: #1691d0;
  font-family: 'Sahitya', serif;
  font-size: 1.6em;
  line-height: 1.4;
  resize: none;
}
textarea:focus {
  outline: 3px solid #333;
}
textarea::-moz-selection {
  background-color: #333;
  color: #fff;
}
textarea::selection {
  background-color: #333;
  color: #fff;
}

canvas {
  display: block;
  height: auto;
  width: 100%;
}

.container {
  max-width: 36em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
