html, body {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	display: flex;
}

#info {
	margin: auto;
	position: relative;
	z-index: 2;
	color: #ffffff;
	font-family: sans-serif;
	
	pointer-events: none;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
    user-select: none
}

canvas {
	z-index: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}